<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>jk;</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.opass.ccip</string>
			</array>
		</dict>
	</array>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://dl.opass.app</string>
		<string>https://opass.page.link</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
