[submodule "MYCrypto"]
	path = MYCrypto
	url = https://github.com/Haraguroicha/MYCrypto.git
[submodule "MYUtilities"]
	path = MYUtilities
	url = https://github.com/Haraguroicha/MYUtilities.git
[submodule "Crypto"]
	path = Crypto
	url = https://github.com/Haraguroicha/Crypto.git
[submodule "FontAwesome"]
	path = FontAwesome
	url = https://github.com/FortAwesome/Font-Awesome.git
