<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282941702201-i16msn8ov7q903r5q51e7jrob98oaaqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282941702201-i16msn8ov7q903r5q51e7jrob98oaaqo</string>
	<key>API_KEY</key>
	<string>AIzaSyA6uj2eHPVtyiK7a7jKUoVPSC2wFuaKFwo</string>
	<key>GCM_SENDER_ID</key>
	<string>282941702201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pycon.CCIP-iOS</string>
	<key>PROJECT_ID</key>
	<string>ccip-pycontw</string>
	<key>STORAGE_BUCKET</key>
	<string>ccip-pycontw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282941702201:ios:2583fac94b851f51</string>
	<key>DATABASE_URL</key>
	<string>https://ccip-pycontw.firebaseio.com</string>
</dict>
</plist>