<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Application Flags</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>COSCUP</string>
			<key>Title</key>
			<string>COSCUP</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>DEBUG</string>
			<key>Title</key>
			<string>DEBUG</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>group.org.coscup.ccip</string>
			<key>Key</key>
			<string>APP_GROUP_ID</string>
			<key>Title</key>
			<string>APP_GROUP_ID</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@a429ff30-5c0e-4584-a32f-b866ba88c947</string>
			<key>Key</key>
			<string>ONE_SIGNAL_APP_TOKEN</string>
			<key>Title</key>
			<string>ONE_SIGNAL_APP_TOKEN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@ccip.coscup.org</string>
			<key>Key</key>
			<string>__API_HOST_DOMAIN__</string>
			<key>Title</key>
			<string>__API_HOST_DOMAIN__</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@coscup.org</string>
			<key>Key</key>
			<string>CONF_BASE_DOMAIN</string>
			<key>Title</key>
			<string>CONF_BASE_DOMAIN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@staff.coscup.org</string>
			<key>Key</key>
			<string>STAFF_BASE_DOMAIN</string>
			<key>Title</key>
			<string>STAFF_BASE_DOMAIN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@play.coscup.org</string>
			<key>Key</key>
			<string>PUZZLE_GAME_BASE_DOMAIN</string>
			<key>Title</key>
			<string>PUZZLE_GAME_BASE_DOMAIN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@coscup</string>
			<key>Key</key>
			<string>LOG_CHANNEL</string>
			<key>Title</key>
			<string>LOG_CHANNEL</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@coscupchat</string>
			<key>Key</key>
			<string>TELEGRAM_URL</string>
			<key>Title</key>
			<string>TELEGRAM_URL</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>COCOAPODS</string>
			<key>Title</key>
			<string>COCOAPODS</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>Title</key>
	<string>SettingsTitle</string>
</dict>
</plist>
