<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Application Flags</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>SITCON</string>
			<key>Title</key>
			<string>SITCON</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>DEBUG</string>
			<key>Title</key>
			<string>DEBUG</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>group.org.sitcon.ccip</string>
			<key>Key</key>
			<string>APP_GROUP_ID</string>
			<key>Title</key>
			<string>APP_GROUP_ID</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@9b74779c-bcd8-471e-a64b-e033acf0ebbd</string>
			<key>Key</key>
			<string>ONE_SIGNAL_APP_TOKEN</string>
			<key>Title</key>
			<string>ONE_SIGNAL_APP_TOKEN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@ccip.sitcon.org</string>
			<key>Key</key>
			<string>__API_HOST_DOMAIN__</string>
			<key>Title</key>
			<string>__API_HOST_DOMAIN__</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@sitcon.org</string>
			<key>Key</key>
			<string>CONF_BASE_DOMAIN</string>
			<key>Title</key>
			<string>CONF_BASE_DOMAIN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@staff.sitcon.org</string>
			<key>Key</key>
			<string>STAFF_BASE_DOMAIN</string>
			<key>Title</key>
			<string>STAFF_BASE_DOMAIN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#mainPuzzleDomain#</string>
			<key>Key</key>
			<string>PUZZLE_GAME_BASE_DOMAIN</string>
			<key>Title</key>
			<string>PUZZLE_GAME_BASE_DOMAIN</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@sitcon</string>
			<key>Key</key>
			<string>LOG_CHANNEL</string>
			<key>Title</key>
			<string>LOG_CHANNEL</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@SITCONgeneral</string>
			<key>Key</key>
			<string>TELEGRAM_URL</string>
			<key>Title</key>
			<string>TELEGRAM_URL</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#f2a900</string>
			<key>Key</key>
			<string>COLOR_DEV</string>
			<key>Title</key>
			<string>COLOR_DEV</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#444f54</string>
			<key>Key</key>
			<string>COLOR_TITLE_HIGHLIGHTED</string>
			<key>Title</key>
			<string>COLOR_TITLE_HIGHLIGHTED</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_GRADIENT1</string>
			<key>Title</key>
			<string>COLOR_GRADIENT1</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_GRADIENT2</string>
			<key>Title</key>
			<string>COLOR_GRADIENT2</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_GRADIENT3</string>
			<key>Title</key>
			<string>COLOR_GRADIENT3</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#e9e9e9</string>
			<key>Key</key>
			<string>COLOR_DASHED_LINE</string>
			<key>Title</key>
			<string>COLOR_DASHED_LINE</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_BUTTON_TO</string>
			<key>Title</key>
			<string>COLOR_BUTTON_TO</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#9b9b9b</string>
			<key>Key</key>
			<string>COLOR_BUTTON_DISABLED</string>
			<key>Title</key>
			<string>COLOR_BUTTON_DISABLED</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_BUTTON_DEFAULT</string>
			<key>Title</key>
			<string>COLOR_BUTTON_DEFAULT</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_CARD_TEXT</string>
			<key>Title</key>
			<string>COLOR_CARD_TEXT</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_LABEL_TEXT</string>
			<key>Title</key>
			<string>COLOR_LABEL_TEXT</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#fdfdfd</string>
			<key>Key</key>
			<string>COLOR_NAVIGATION_BAR_ITEM</string>
			<key>Title</key>
			<string>COLOR_NAVIGATION_BAR_ITEM</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@#64757d</string>
			<key>Key</key>
			<string>COLOR_FAVORITE_BUTTON</string>
			<key>Title</key>
			<string>COLOR_FAVORITE_BUTTON</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>COCOAPODS</string>
			<key>Title</key>
			<string>COCOAPODS</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>Title</key>
	<string>SettingsTitle</string>
</dict>
</plist>
