<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Application Flags</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>COSCUP</string>
			<key>Title</key>
			<string>COSCUP</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>(@COSCUP)</string>
			<key>Key</key>
			<string>APP_NAME</string>
			<key>Title</key>
			<string>APP_NAME</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>group.tw.ocf.ccip.coscup</string>
			<key>Key</key>
			<string>APP_GROUP_ID</string>
			<key>Title</key>
			<string>APP_GROUP_ID</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>COCOAPODS</string>
			<key>Title</key>
			<string>COCOAPODS</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>(@COSCUP)</string>
			<key>Key</key>
			<string>APP_NAME</string>
			<key>Title</key>
			<string>APP_NAME</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>group.tw.ocf.ccip.coscup</string>
			<key>Key</key>
			<string>APP_GROUP_ID</string>
			<key>Title</key>
			<string>APP_GROUP_ID</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>PB_FIELD_32BIT</string>
			<key>Title</key>
			<string>PB_FIELD_32BIT</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Key</key>
			<string>PB_NO_PACKED_STRUCTS</string>
			<key>Title</key>
			<string>PB_NO_PACKED_STRUCTS</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>Title</key>
	<string>SettingsTitle</string>
</dict>
</plist>
