MAIN_PRODUCT_BUNDLE_IDENTIFIER              = #domain#.CCIP-iOS#Dev#
WATCH_PRODUCT_BUNDLE_IDENTIFIER             = $(MAIN_PRODUCT_BUNDLE_IDENTIFIER).watchkitapp
WATCH_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER   = $(WATCH_PRODUCT_BUNDLE_IDENTIFIER).watchkitextension
MAIN_BUILD_VERSION                          = #BUILD_VERSION#
MAIN_BUILD_SHORT_VERSION                    = #BUILD_SHORT_VERSION#
APP_NAME                                    = '(@"#APP_NAME#")'
APP_GROUP_ID                                = group.#domain#.ccip
__API_HOST_DOMAIN__                         = '(@"#apiDomain#")'
CONF_BASE_DOMAIN                            = '(@"#mainDomain#")'
COLOR_TITLE_HIGHLIGHTED                     = '(@"#color_title_highlighted#")'
COLOR_GRADIENT1                             = '(@"#color_gradient1#")'
COLOR_GRADIENT2                             = '(@"#color_gradient2#")'
COLOR_GRADIENT3                             = '(@"#color_gradient3#")'
COLOR_BUTTON_TO                             = '(@"#color_button_to#")'
COLOR_BUTTON_DEFAULT                        = '(@"#color_button_default#")'
COLOR_BUTTON_DISABLED                       = '(@"#color_button_disabled#")'
COLOR_CARD_TEXT                             = '(@"#color_card_text#")'
COLOR_LABEL_TEXT                            = '(@"#color_label_text#")'
COLOR_NAVIGATION_BAR_ITEM                   = '(@"#color_navigation_bar_item#")'
COLOR_FAVORITE_BUTTON                       = '(@"#color_favorite_button#")'
