MAIN_PRODUCT_BUNDLE_IDENTIFIER              = #domain#.CCIP-iOS#Dev#
WATCH_PRODUCT_BUNDLE_IDENTIFIER             = $(MAIN_PRODUCT_BUNDLE_IDENTIFIER).watchkitapp
WATCH_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER   = $(WATCH_PRODUCT_BUNDLE_IDENTIFIER).watchkitextension
MAIN_BUILD_VERSION                          = #BUILD_VERSION#
MAIN_BUILD_SHORT_VERSION                    = #BUILD_SHORT_VERSION#
APP_GROUP_ID                                = group.#domain#.ccip
ONE_SIGNAL_APP_TOKEN                        = '@"#one_signal_token#"'
__API_HOST_DOMAIN__                         = '@"ccip.#mainDomain#"'
CONF_BASE_DOMAIN                            = '@"#mainDomain#"'
STAFF_BASE_DOMAIN                           = '@"staff.#mainDomain#"'
PUZZLE_GAME_BASE_DOMAIN                     = '@"play.#mainDomain#"'
LOG_CHANNEL                                 = '@"#channel#"'
TELEGRAM_URL                                = '@"#tg_chat#"'
