MAIN_PRODUCT_BUNDLE_IDENTIFIER              = org.coscup.CCIP-iOS-Dev
WATCH_PRODUCT_BUNDLE_IDENTIFIER             = $(MAIN_PRODUCT_BUNDLE_IDENTIFIER).watchkitapp
WATCH_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER   = $(WATCH_PRODUCT_BUNDLE_IDENTIFIER).watchkitextension
MAIN_BUILD_VERSION                          = 2.0.70
MAIN_BUILD_SHORT_VERSION                    = 2.0
APP_GROUP_ID                                = group.org.coscup.ccip
ONE_SIGNAL_APP_TOKEN                        = '@"a429ff30-5c0e-4584-a32f-b866ba88c947"'
__API_HOST_DOMAIN__                         = '@"ccip.coscup.org"'
CONF_BASE_DOMAIN                            = '@"coscup.org"'
STAFF_BASE_DOMAIN                           = '@"staff.coscup.org"'
PUZZLE_GAME_BASE_DOMAIN                     = '@"play.coscup.org"'
LOG_CHANNEL                                 = '@"coscup"'
TELEGRAM_URL                                = '@"coscupchat"'
