MAIN_PRODUCT_BUNDLE_IDENTIFIER              = org.pycon.CCIP-iOS
WATCH_PRODUCT_BUNDLE_IDENTIFIER             = $(MAIN_PRODUCT_BUNDLE_IDENTIFIER).watchkitapp
WATCH_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER   = $(WATCH_PRODUCT_BUNDLE_IDENTIFIER).watchkitextension
MAIN_BUILD_VERSION                          = 2.1.100
MAIN_BUILD_SHORT_VERSION                    = 2.1
APP_NAME                                    = '(@"PyCon")'
APP_GROUP_ID                                = group.org.pycon.ccip
__API_HOST_DOMAIN__                         = '(@"ccip.pycon.org")'
CONF_BASE_DOMAIN                            = '(@"tw.pycon.org")'
COLOR_DEV                                   = '(@"#f2a900")'
COLOR_TITLE_HIGHLIGHTED                     = '(@"#333333")'
COLOR_GRADIENT1                             = '(@"#e57b5c")'
COLOR_GRADIENT2                             = '(@"#eec850")'
COLOR_GRADIENT3                             = '(@"#e57b5c")'
COLOR_DASHED_LINE                           = '(@"#e9e9e9")'
COLOR_BUTTON_TO                             = '(@"#3000d1")'
COLOR_BUTTON_DEFAULT                        = '(@"#3b097b")'
COLOR_BUTTON_DISABLED                       = '(@"#9b9b9b")'
COLOR_CARD_TEXT                             = '(@"#333333")'
COLOR_LABEL_TEXT                            = '(@"#333333")'
COLOR_NAVIGATION_BAR_ITEM                   = '(@"#3b097b")'
COLOR_FAVORITE_BUTTON                       = '(@"#9d50ff")'
