<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COSCUP</key>
	<dict>
		<key>ogToken</key>
		<string>a429ff30-5c0e-4584-a32f-b866ba88c947</string>
		<key>Themes</key>
		<dict/>
		<key>URL</key>
		<dict>
			<key>IRC_Channel</key>
			<string>coscup</string>
			<key>tg_Chat</key>
			<string>coscupchat</string>
			<key>MainDomain</key>
			<string>coscup.org</string>
			<key>GameDomain</key>
			<string>play.coscup.org</string>
			<key>StaffWebPath</key>
			<string></string>
			<key>StaffBaseDomain</key>
			<string></string>
			<key>SponsorWebPath</key>
			<string></string>
		</dict>
	</dict>
	<key>SITCON</key>
	<dict>
		<key>ogToken</key>
		<string>9b74779c-bcd8-471e-a64b-e033acf0ebbd</string>
		<key>Themes</key>
		<dict/>
		<key>URL</key>
		<dict>
			<key>IRC_Channel</key>
			<string>sitcon</string>
			<key>tg_Chat</key>
			<string>SITCONgeneral</string>
			<key>MainDomain</key>
			<string>sitcon.org</string>
			<key>GameDomain</key>
			<string>king.sitcon.party</string>
			<key>StaffWebPath</key>
			<string></string>
			<key>StaffBaseDomain</key>
			<string></string>
			<key>SponsorWebPath</key>
			<string></string>
		</dict>
	</dict>
	<key>PyCon</key>
	<dict>
		<key>ogToken</key>
		<string>9506c2db-f054-46b3-9396-744807736fb8</string>
		<key>Themes</key>
		<dict/>
		<key>URL</key>
		<dict>
			<key>IRC_Channel</key>
			<string></string>
			<key>tg_Chat</key>
			<string></string>
			<key>MainDomain</key>
			<string>tw.pycon.org</string>
			<key>GameDomain</key>
			<string>game.pycon.tw</string>
			<key>StaffWebPath</key>
			<string></string>
			<key>StaffBaseDomain</key>
			<string></string>
			<key>SponsorWebPath</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
