<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COSCUP</key>
	<dict>
		<key>ogToken</key>
		<string>a429ff30-5c0e-4584-a32f-b866ba88c947</string>
		<key>Themes</key>
		<dict>
			<key>DevelopingLogoMaskColor</key>
			<string>#f2a900</string>
			<key>RedeemButtonLeftColor</key>
			<string>#e57b5c</string>
			<key>RedeemButtonRightColor</key>
			<string>#eec850</string>
			<key>RedeemCodeTextColor</key>
			<string>#425d4f</string>
			<key>CheckinButtonLeftColor</key>
			<string>#509d34</string>
			<key>CheckinButtonRightColor</key>
			<string>#70b12d</string>
			<key>DisabledButtonLeftColor</key>
			<string>#808080</string>
			<key>DisabledButtonRightColor</key>
			<string>#70b12d</string>
			<key>UsedButtonLeftColor</key>
			<string>#808080</string>
			<key>UsedButtonRightColor</key>
			<string>#70b12d</string>
			<key>MessageButtonLeftColor</key>
			<string>#509d34</string>
			<key>MessageButtonRightColor</key>
			<string>#70b12d</string>
			<key>NavigationIndicatorColor</key>
			<string>#ffffff</string>
			<key>ProgressBarColor</key>
			<string>#efefef</string>
			<key>HighlightedColor</key>
			<string>#009a79</string>
			<key>LabelTextColor</key>
			<string></string>
			<key>CardTextColor</key>
			<string>#425d4f</string>
			<key>CardBackgroundColor</key>
			<string>#3d983c</string>
			<key>FavoriteButtonColor</key>
			<string>#ffffff</string>
			<key>ScheduleTitleLeftColor</key>
			<string>#425d4f</string>
			<key>ScheduleTitleRightColor</key>
			<string>#429537</string>
			<key>ScheduleTitleTextColor</key>
			<string></string>
			<key>ScheduleSectionTitleBackgroundColor</key>
			<string></string>
			<key>ScheduleSectionTitleTextColor</key>
			<string></string>
			<key>AnnouncementTitleLeftColor</key>
			<string>#425d4f</string>
			<key>AnnouncementTitleRightColor</key>
			<string>#429537</string>
			<key>AnnouncementTitleTextColor</key>
			<string></string>
			<key>AnnouncementSectionTitleBackgroundColor</key>
			<string>#efefef</string>
			<key>AnnouncementSectionTitleTextColor</key>
			<string>#333333</string>
			<key>AnnouncementDashedLineColor</key>
			<string>#e9e9e9</string>
			<key>IRCTitleLeftColor</key>
			<string>#425d4f</string>
			<key>IRCTitleRightColor</key>
			<string>#429537</string>
			<key>IRCTitleTextColor</key>
			<string></string>
			<key>MoreTitleLeftColor</key>
			<string>#425d4f</string>
			<key>MoreTitleRightColor</key>
			<string>#429537</string>
			<key>MoreTitleTextColor</key>
			<string></string>
			<key>MapTitleLeftColor</key>
			<string>#425d4f</string>
			<key>MapTitleRightColor</key>
			<string>#429537</string>
			<key>MapTitleTextColor</key>
			<string></string>
		</dict>
		<key>URL</key>
		<dict>
			<key>CCIP_API</key>
			<string>ccip.coscup.org</string>
			<key>IRC_Channel</key>
			<string>coscup</string>
			<key>tg_Chat</key>
			<string>coscupchat</string>
			<key>MainDomain</key>
			<string>coscup.org</string>
			<key>GamePath</key>
			<string>https://play.coscup.org/?mode=app&amp;token=%@</string>
			<key>StaffUseWeb</key>
			<true/>
			<key>StaffPath</key>
			<string>https://2018.coscup.org/staffs</string>
			<key>SponsorUseWeb</key>
			<true/>
			<key>SponsorPath</key>
			<string>https://2018.coscup.org/sponsors</string>
			<key>ScheduleContentPath</key>
			<string></string>
		</dict>
	</dict>
	<key>SITCON</key>
	<dict>
		<key>ogToken</key>
		<string>9b74779c-bcd8-471e-a64b-e033acf0ebbd</string>
		<key>Themes</key>
		<dict>
			<key>DevelopingLogoMaskColor</key>
			<string>#f2a900</string>
			<key>RedeemButtonLeftColor</key>
			<string>#e57b5c</string>
			<key>RedeemButtonRightColor</key>
			<string>#eec850</string>
			<key>RedeemCodeTextColor</key>
			<string></string>
			<key>CheckinButtonLeftColor</key>
			<string></string>
			<key>CheckinButtonRightColor</key>
			<string></string>
			<key>DisabledButtonLeftColor</key>
			<string></string>
			<key>DisabledButtonRightColor</key>
			<string></string>
			<key>UsedButtonLeftColor</key>
			<string></string>
			<key>UsedButtonRightColor</key>
			<string></string>
			<key>MessageButtonLeftColor</key>
			<string></string>
			<key>MessageButtonRightColor</key>
			<string></string>
			<key>NavigationIndicatorColor</key>
			<string></string>
			<key>ProgressBarColor</key>
			<string></string>
			<key>HighlightedColor</key>
			<string></string>
			<key>LabelTextColor</key>
			<string></string>
			<key>CardTextColor</key>
			<string></string>
			<key>CardBackgroundColor</key>
			<string>#3d983c</string>
			<key>FavoriteButtonColor</key>
			<string></string>
			<key>ScheduleTitleLeftColor</key>
			<string>#64757d</string>
			<key>ScheduleTitleRightColor</key>
			<string>#64757d</string>
			<key>ScheduleTitleTextColor</key>
			<string></string>
			<key>ScheduleSectionTitleBackgroundColor</key>
			<string></string>
			<key>ScheduleSectionTitleTextColor</key>
			<string></string>
			<key>AnnouncementTitleLeftColor</key>
			<string></string>
			<key>AnnouncementTitleRightColor</key>
			<string></string>
			<key>AnnouncementTitleTextColor</key>
			<string></string>
			<key>AnnouncementSectionTitleBackgroundColor</key>
			<string></string>
			<key>AnnouncementSectionTitleTextColor</key>
			<string></string>
			<key>AnnouncementDashedLineColor</key>
			<string>#e9e9e9</string>
			<key>IRCTitleLeftColor</key>
			<string></string>
			<key>IRCTitleRightColor</key>
			<string></string>
			<key>IRCTitleTextColor</key>
			<string></string>
			<key>MoreTitleLeftColor</key>
			<string></string>
			<key>MoreTitleRightColor</key>
			<string></string>
			<key>MoreTitleTextColor</key>
			<string></string>
			<key>MapTitleLeftColor</key>
			<string></string>
			<key>MapTitleRightColor</key>
			<string></string>
			<key>MapTitleTextColor</key>
			<string></string>
		</dict>
		<key>URL</key>
		<dict>
			<key>CCIP_API</key>
			<string>ccip.sitcon.org</string>
			<key>IRC_Channel</key>
			<string>sitcon</string>
			<key>tg_Chat</key>
			<string>SITCONgeneral</string>
			<key>MainDomain</key>
			<string>sitcon.org</string>
			<key>GamePath</key>
			<string>https://king.sitcon.party/?mode=app&amp;token=%@</string>
			<key>StaffUseWeb</key>
			<true/>
			<key>StaffPath</key>
			<string></string>
			<key>SponsorUseWeb</key>
			<true/>
			<key>SponsorPath</key>
			<string></string>
			<key>ScheduleContentPath</key>
			<string>https://tw.pycon.org/2018/ccip/</string>
		</dict>
	</dict>
	<key>PyConTW</key>
	<dict>
		<key>ogToken</key>
		<string>9506c2db-f054-46b3-9396-744807736fb8</string>
		<key>Themes</key>
		<dict>
			<key>DevelopingLogoMaskColor</key>
			<string>#f2a900</string>
			<key>RedeemButtonLeftColor</key>
			<string>#e57b5c</string>
			<key>RedeemButtonRightColor</key>
			<string>#eec850</string>
			<key>RedeemCodeTextColor</key>
			<string>#333333</string>
			<key>CheckinButtonLeftColor</key>
			<string>#2bb1f7</string>
			<key>CheckinButtonRightColor</key>
			<string>#3000d1</string>
			<key>DisabledButtonLeftColor</key>
			<string>#808080</string>
			<key>DisabledButtonRightColor</key>
			<string>#3000d1</string>
			<key>UsedButtonLeftColor</key>
			<string>#808080</string>
			<key>UsedButtonRightColor</key>
			<string>#3000d1</string>
			<key>MessageButtonLeftColor</key>
			<string>#2bb1f7</string>
			<key>MessageButtonRightColor</key>
			<string>#3000d1</string>
			<key>NavigationIndicatorColor</key>
			<string>#f7f5fa</string>
			<key>ProgressBarColor</key>
			<string>#efefef</string>
			<key>HighlightedColor</key>
			<string>#333333</string>
			<key>LabelTextColor</key>
			<string>#333333</string>
			<key>CardTextColor</key>
			<string>#333333</string>
			<key>CardBackgroundColor</key>
			<string>#3d983c</string>
			<key>FavoriteButtonColor</key>
			<string>#9d50ff</string>
			<key>ScheduleTitleLeftColor</key>
			<string>#3b097b</string>
			<key>ScheduleTitleRightColor</key>
			<string>#3b097b</string>
			<key>ScheduleTitleTextColor</key>
			<string>#f7f5fa</string>
			<key>ScheduleSectionTitleBackgroundColor</key>
			<string>#efefef</string>
			<key>ScheduleSectionTitleTextColor</key>
			<string>#333333</string>
			<key>AnnouncementTitleLeftColor</key>
			<string>#3b097b</string>
			<key>AnnouncementTitleRightColor</key>
			<string>#3b097b</string>
			<key>AnnouncementTitleTextColor</key>
			<string>#f7f5fa</string>
			<key>AnnouncementSectionTitleBackgroundColor</key>
			<string>#efefef</string>
			<key>AnnouncementSectionTitleTextColor</key>
			<string>#333333</string>
			<key>AnnouncementDashedLineColor</key>
			<string>#e9e9e9</string>
			<key>IRCTitleLeftColor</key>
			<string>#3b097b</string>
			<key>IRCTitleRightColor</key>
			<string>#3b097b</string>
			<key>IRCTitleTextColor</key>
			<string>#f7f5fa</string>
			<key>MoreTitleLeftColor</key>
			<string>#3b097b</string>
			<key>MoreTitleRightColor</key>
			<string>#3b097b</string>
			<key>MoreTitleTextColor</key>
			<string>#f7f5fa</string>
			<key>MapTitleLeftColor</key>
			<string>#3b097b</string>
			<key>MapTitleRightColor</key>
			<string>#3b097b</string>
			<key>MapTitleTextColor</key>
			<string>#f7f5fa</string>
		</dict>
		<key>URL</key>
		<dict>
			<key>CCIP_API</key>
			<string>ccip.pycon.tw</string>
			<key>IRC_Channel</key>
			<string></string>
			<key>tg_Chat</key>
			<string>pycontw2018</string>
			<key>MainDomain</key>
			<string>tw.pycon.org</string>
			<key>GamePath</key>
			<string>https://game.pycon.tw/?mode=app&amp;token=%@</string>
			<key>MapsUseWeb</key>
			<true/>
			<key>MapsPath</key>
			<string>https://tw.pycon.org/2018/static/pycontw-2018/assets/venue-map.svg</string>
			<key>StaffUseWeb</key>
			<true/>
			<key>StaffPath</key>
			<string>https://tw.pycon.org/2018/ccip/staff/</string>
			<key>SponsorUseWeb</key>
			<true/>
			<key>SponsorPath</key>
			<string>https://tw.pycon.org/2018/ccip/sponsors/</string>
			<key>ScheduleContentPath</key>
			<string>https://tw.pycon.org/2018/ccip/</string>
		</dict>
	</dict>
</dict>
</plist>
