<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPass</key>
	<dict>
		<key>ogToken</key>
		<string>b6213f49-e356-4b48-aa9d-7cf10ce1904d</string>
		<key>DateTimeFormat</key>
		<string>yyyy-MM-dd&apos;T&apos;HH:mm:ss.SSSZ</string>
		<key>DisplayDateFormat</key>
		<string>M/d</string>
		<key>DisplayTimeFormat</key>
		<string>HH:mm</string>
		<key>Themes</key>
		<dict>
			<key>DevelopingLogoMaskColor</key>
			<string>#f2a900</string>
			<key>RedeemButtonLeftColor</key>
			<string>#e57b5c</string>
			<key>RedeemButtonRightColor</key>
			<string>#eec850</string>
			<key>RedeemCodeTextColor</key>
			<string>#425d4f</string>
			<key>CheckinButtonLeftColor</key>
			<string>#509d34</string>
			<key>CheckinButtonRightColor</key>
			<string>#70b12d</string>
			<key>DisabledButtonLeftColor</key>
			<string>#808080</string>
			<key>DisabledButtonRightColor</key>
			<string>#70b12d</string>
			<key>UsedButtonLeftColor</key>
			<string>#808080</string>
			<key>UsedButtonRightColor</key>
			<string>#70b12d</string>
			<key>MessageButtonLeftColor</key>
			<string>#509d34</string>
			<key>MessageButtonRightColor</key>
			<string>#70b12d</string>
			<key>NavigationIndicatorColor</key>
			<string>#ffffff</string>
			<key>ProgressBarColor</key>
			<string>#efefef</string>
			<key>HighlightedColor</key>
			<string>#009a79</string>
			<key>LabelTextColor</key>
			<string>#425d4f</string>
			<key>CardTextColor</key>
			<string>#425d4f</string>
			<key>CardBackgroundColor</key>
			<string>#3d983c</string>
			<key>FavoriteButtonColor</key>
			<string>#425d4f</string>
			<key>CheckinRectangleLeftColor</key>
			<string>#170a31</string>
			<key>CheckinRectangleRightColor</key>
			<string>#67328c</string>
			<key>ScheduleTitleLeftColor</key>
			<string>#425d4f</string>
			<key>ScheduleTitleRightColor</key>
			<string>#429537</string>
			<key>ScheduleTitleTextColor</key>
			<string>#425d4f</string>
			<key>ScheduleDateTitleTextColor</key>
			<string>#ffffff</string>
			<key>ScheduleDateIndicatorColor</key>
			<string>#ffffff</string>
			<key>ScheduleDetailHeaderTextColor</key>
			<string>#ffffff</string>
			<key>ScheduleMetaHeaderTextColor</key>
			<string>#000000</string>
			<key>ScheduleSectionTitleBackgroundColor</key>
			<string>#ecf5f4</string>
			<key>ScheduleSectionTitleTextColor</key>
			<string>#425d4f</string>
			<key>AnnouncementTitleLeftColor</key>
			<string>#425d4f</string>
			<key>AnnouncementTitleRightColor</key>
			<string>#429537</string>
			<key>AnnouncementTitleTextColor</key>
			<string>#425d4f</string>
			<key>AnnouncementSectionTitleBackgroundColor</key>
			<string>#efefef</string>
			<key>AnnouncementSectionTitleTextColor</key>
			<string>#333333</string>
			<key>AnnouncementDashedLineColor</key>
			<string>#e9e9e9</string>
			<key>IRCTitleLeftColor</key>
			<string>#425d4f</string>
			<key>IRCTitleRightColor</key>
			<string>#429537</string>
			<key>IRCTitleTextColor</key>
			<string>#425d4f</string>
			<key>MoreTitleLeftColor</key>
			<string>#425d4f</string>
			<key>MoreTitleRightColor</key>
			<string>#429537</string>
			<key>MoreTitleTextColor</key>
			<string>#425d4f</string>
			<key>MapTitleLeftColor</key>
			<string>#425d4f</string>
			<key>MapTitleRightColor</key>
			<string>#429537</string>
			<key>MapTitleTextColor</key>
			<string>#425d4f</string>
		</dict>
		<key>URL</key>
		<dict>
			<key>CCIP_API</key>
			<string>ccip.opass.app</string>
			<key>IRC_Channel</key>
			<string>g0v.tw</string>
			<key>tg_Chat</key>
			<string></string>
			<key>MainDomain</key>
			<string>summit.g0v.tw</string>
			<key>GamePath</key>
			<string></string>
			<key>MapsUseWeb</key>
			<true/>
			<key>MapsPath</key>
			<string></string>
			<key>StaffUseWeb</key>
			<true/>
			<key>StaffPath</key>
			<string>https://summit.g0v.tw/2018/staff/?__ccip=##random##</string>
			<key>SponsorUseWeb</key>
			<true/>
			<key>SponsorPath</key>
			<string>https://summit.g0v.tw/2018/sponsors/?__ccip=##random##</string>
			<key>ScheduleContentPath</key>
			<string>https://summit.g0v.tw/2018/static/ccip.json?__ccip=##random##</string>
		</dict>
	</dict>
</dict>
</plist>
