<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPass</key>
	<dict>
		<key>ogToken</key>
		<string>b6213f49-e356-4b48-aa9d-7cf10ce1904d</string>
		<key>scandit</key>
		<string>2BXy4CfQi9QFc12JnjId7mHH58SdYzNC90Uo07luUUY</string>
		<key>iBeacon</key>
		<dict>
			<key>UUID</key>
			<string>014567cf-d0ef-4b74-8161-47ce52f3df64</string>
			<key>ID</key>
			<string>OPass-Beacon</string>
		</dict>
		<key>DisplayDateTimeFormat</key>
		<string>YYYY-MM-dd HH:mm</string>
		<key>DisplayDateFormat</key>
		<string>M/d</string>
		<key>DisplayTimeFormat</key>
		<string>HH:mm</string>
		<key>Themes</key>
		<dict>
			<key>LogoUseMask</key>
			<false/>
			<key>DevelopingLogoMaskColor</key>
			<string>#f2a900</string>
			<key>RedeemButtonLeftColor</key>
			<string>#170a31</string>
			<key>RedeemButtonRightColor</key>
			<string>#532875</string>
			<key>RedeemCodeTextColor</key>
			<string>#425d4f</string>
			<key>CheckinButtonLeftColor</key>
			<string>#170a31</string>
			<key>CheckinButtonRightColor</key>
			<string>#532875</string>
			<key>DisabledButtonLeftColor</key>
			<string>#c5c2cb</string>
			<key>DisabledButtonRightColor</key>
			<string>#c5c2cb</string>
			<key>UsedButtonLeftColor</key>
			<string>#887397</string>
			<key>UsedButtonRightColor</key>
			<string>#cfc0d9</string>
			<key>MessageButtonLeftColor</key>
			<string>#170a31</string>
			<key>MessageButtonRightColor</key>
			<string>#532875</string>
			<key>NavigationIndicatorColor</key>
			<string>#ffffff</string>
			<key>ProgressBarColor</key>
			<string>#ffffff</string>
			<key>HighlightedColor</key>
			<string>#4d256f</string>
			<key>LabelTextColor</key>
			<string>#4d256f</string>
			<key>CardTextColor</key>
			<string>#4d256f</string>
			<key>CardBackgroundColor</key>
			<string>#3d983c</string>
			<key>FavoriteButtonColor</key>
			<string>#67328c</string>
			<key>CheckinRectangleLeftColor</key>
			<string>#170a31</string>
			<key>CheckinRectangleRightColor</key>
			<string>#67328c</string>
			<key>SessionTitleLeftColor</key>
			<string>#170a31</string>
			<key>SessionTitleRightColor</key>
			<string>#67328c</string>
			<key>SessionTitleTextColor</key>
			<string>#425d4f</string>
			<key>SessionDateTitleTextColor</key>
			<string>#ffffff</string>
			<key>SessionDateIndicatorColor</key>
			<string>#ffffff</string>
			<key>SessionDetailHeaderTextColor</key>
			<string>#ffffff</string>
			<key>SessionMetaHeaderTextColor</key>
			<string>#000000</string>
			<key>SessionSectionTitleBackgroundColor</key>
			<string>#fbf6ff</string>
			<key>SessionSectionTitleTextColor</key>
			<string>#4d256f</string>
			<key>AnnouncementTitleLeftColor</key>
			<string>#170a31</string>
			<key>AnnouncementTitleRightColor</key>
			<string>#67328c</string>
			<key>AnnouncementTitleTextColor</key>
			<string>#425d4f</string>
			<key>AnnouncementNoContentTextColor</key>
			<string>#425d4f</string>
			<key>AnnouncementSectionTitleBackgroundColor</key>
			<string>#efefef</string>
			<key>AnnouncementSectionTitleTextColor</key>
			<string>#333333</string>
			<key>AnnouncementDashedLineColor</key>
			<string>#e9e9e9</string>
			<key>IRCTitleLeftColor</key>
			<string>#170a31</string>
			<key>IRCTitleRightColor</key>
			<string>#67328c</string>
			<key>IRCTitleTextColor</key>
			<string>#425d4f</string>
			<key>MoreTitleLeftColor</key>
			<string>#170a31</string>
			<key>MoreTitleRightColor</key>
			<string>#67328c</string>
			<key>MoreTitleTextColor</key>
			<string>#425d4f</string>
			<key>MapTitleLeftColor</key>
			<string>#170a31</string>
			<key>MapTitleRightColor</key>
			<string>#67328c</string>
			<key>MapTitleTextColor</key>
			<string>#425d4f</string>
		</dict>
	</dict>
</dict>
</plist>
