MAIN_PRODUCT_BUNDLE_IDENTIFIER              = app.opass.ccip
WATCH_PRODUCT_BUNDLE_IDENTIFIER             = $(MAIN_PRODUCT_BUNDLE_IDENTIFIER).watchkitapp
WATCH_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER   = $(WATCH_PRODUCT_BUNDLE_IDENTIFIER).watchkitextension
NOTIFICATION_PRODUCT_BUNDLE_IDENTIFIER      = $(MAIN_PRODUCT_BUNDLE_IDENTIFIER).notification-service
APP_NAME                                    = '(@"OPass")'
APP_GROUP_ID                                = group.app.opass.ccip
APP_SCHEME                                  = opass
